<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!--Leaflet Draw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <!--OPenEO JS Client:-->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/oidc-client@1/dist/oidc-client.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/multihashes@3/src/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@openeo/js-client@2/openeo.min.js"></script>
    <!--Proj4-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js"></script>
    <!--Turf.js for bounding box-->
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <!--Own stylesheet:-->
    <!--<link rel="stylesheet" href="stylesheets/style.css">-->
    <!--<link rel="stylesheet" href="stylesheets/webpageStyles.css">-->
    <link rel="stylesheet" href="stylesheets/trainingsdatenStyles.css">
    <!--Own Script-->
    <script defer src="JS_views/trainingsdatenJS.js"></script>
    <title>Copernicus Code Crafters</title>
</head>

<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="/"><img src="\pictures\ccc_logo.png" id="logo" width="50" height="50"
                    class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page" href="/webpage">Viewer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page"
                            href="/trainingsdaten">Trainingsdatenverwalten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page" href="/impressum">Impressum </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row gy-4 gx-lg-3 justify-content-md-center mt-">
            <div class="col-lg-9">
                <div class="card shadow p-3 h-100 bg-white rounded">
                    <div class="card-body overflow-auto">
                        <h2 class="card-title">Trainingsdaten</h2>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card shadow p-3 h-100 bg-white rounded">
                    <!--Upload Trainingsdaten-->
                    <h2 class="card-title">Upload</h2><br>
                    <form id="uploadForm" onsubmit="handleFile(event)" enctype="multipart/form-data">
                        <input class="black-input" type="file" name="file" accept=".gpkg, .geojson">
                        <button class="black-btn" type="submit">Upload File</button>
                    </form> <br>
                    <button id="save-Button1" class="black-btn">Save GeoJSON as File</button><br><br>


                    <!-- Hyperparameter Selection-->
                    <div class="hyperparameterSelectionDIV">
                        <h2 class="card-title">Select Hyperparameters</h2>
                        <div class="form-group">
                            <h5 class="card-title">Choose nt Value</h5>
                            <input type="text" class="form-control" id="ntInput" placeholder="Enter nt value">
                        </div>
                        <div class="form-group">
                            <h5 class="card-title">Choose mt Value</h5>
                            <input type="text" class="form-control" id="mtInput" placeholder="Enter mt value">
                        </div>
                        <div class="form-group">
                            <h5 class="card-title">Choose name</h5>
                            <input type="text" class="form-control" id="nameInput" placeholder="Enter name value">
                        </div>
                        <button class="green-btn" onclick="buildModel()">Build Model</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    <div class="container-fluid">
        <footer>
            <div class="d-flex flex-wrap justify-content-between align-items-center py-1 my-3 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Copernicus Code Crafters, Inc</p><a
                    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                    href="/"><svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg></a>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary active" area-current="page"
                            href="/impressum">Impressum</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>