<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!--Leaflet Draw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>Copernicus Code Crafters</title>
</head>

<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary"><a class="navbar-brand active"
                area-current="page" href="/">CCC Clasifier</a><button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" area-current="page"
                            href="/trainingsdaten">Trainingsdatenverwalten
                    <li class="nav-item active"></li></a></li>
                    <li class="nav-item"><a class="nav-link active" area-current="page" href="/impressum">Impressum </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row gy-4 gx-lg-3 justify-content-md-center mt-">
            <div class="col-lg-6">
                <div class="card shadow p-3 h-100 bg-secondary rounded">
                    <h2 class="card-title">Viewer</h2>
                    <div id="map"></div>
                    <script>
                        var map = L.map('map').setView([51.305915044598834,10.21774343122064], 6);
                        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                        }).addTo(map);
                    </script>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow p-3 h-100 bg-secondary rounded">
                    <h2 class="card-title">Options</h2>
                    <p>
                        Option1<br>
                        Option 2<br>
                        Option 3<br>
                        Option 4
                    </p>
                    <p>&nbsp;</p>


                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer>
            <div class="d-flex flex-wrap justify-content-between align-items-center py-1 my-3 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 LEEZGO, Inc</p><a
                    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                    href="/"><svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg></a>                  
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary active" area-current="page"
                            href="/impressum">Impressum</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <footer>
        <div class="navbar navbar-expand-md bg-secondary bg-gradient rounded justify-content-center"><span
                class="text-grey">Geosoftware 2</span></div>
    </footer>
</body>

