<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap-datepicker CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Bootstrap-datepicker JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Include Bootstrap Select CSS and JS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!--Leaflet Draw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <!--Own stylesheets-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/webpageStyles.css">
    <!--Own Script-->
    <script defer src="JS_views/webpageJS.js"></script>
    <!--Turf.js for bounding box-->
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <!--OpenEo-->
    <script src="https://cdn.jsdelivr.net/npm/oidc-client@1/lib/oidc-client.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@openeo/js-client@2/openeo.min.js"></script>
    <!--Georasterlayer for Leaflet-->
    <script src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js"></script>
    <!--Georaster-->
    <script src="https://unpkg.com/georaster"></script>
    <!--Chroma-->
    <script src="https://unpkg.com/chroma-js"></script>
    <!--Proj4-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js"></script>
    <!-- Include Leaflet Control Geocoder CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <title>Copernicus Code Crafters</title>
</head>

<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="/"><img src="\pictures\ccc_logo.png" id = "logo" width="50" height="50"
                    class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page" href="/webpage">Viewer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page"
                            href="/trainingsdaten">Trainingsdatenverwalten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page" href="/impressum">Impressum </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row gy-4 gx-lg-3 justify-content-md-center mt-">
            <div class="col-lg-9">
                <div class="card shadow p-3 h-100 bg-white rounded">
                    <h2 class="card-title">Viewer</h2><br>
                    <div id="map"></div>
                    <button id=""></button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card shadow p-3 h-100 bg-white rounded">
                    <h2 class="card-title">Options</h2><br>
                    <!-- Tab structure and navigation-->
                    <ul class="nav nav-tabs" id="optionsTabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="imagery-tab" data-toggle="tab" href="#imagery">Imagery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="classification-tab" data-toggle="tab"
                                href="#classification">Classification</a>
                        </li>
                    </ul>
                    <!-- Tab content -->
                    <div class="tab-content">
                        <!--Imagery Tab-->
                        <div class="tab-pane fade show active" id="imagery">
                            <!--Datepicker Start date-->
                            <div>
                                <h5 class="card-title">Choose Time Period</h5>
                                <label for="datepicker1">Select a start date:</label>
                                <input type="text" class="form-control" id="datepicker1">
                            </div>
                            <!--Datepicker end date-->
                            <div>
                                <label for="datepicker2">Select an end date:</label>
                                <input type="text" class="form-control" id="datepicker2">
                            </div> <br>
                            <button id="saveDateBtn" class="black-btn" onclick="getSelectedDates()">Save Dates</button>
                            <br><br>
                            <!--Area of Interest-->
                            <div>
                                <h5 class="card-title">Select Area of Interest</h5>
                                <!-- Button to activate Leaflet Draw -->
                                <button id="drawButton" class="black-btn">Activate Draw</button>
                                <h7>Or</h7>
                                <!-- Button to activate Upload-->
                                <button id="uploadButton" class="black-btn">Upload</button>
                                <input type="file" id="fileInput" accept=".geojson, .gpkg" style="display: none" />
                            </div> <br>

                            <!-- Add the 'selectpicker' class to your select element -->
                            <h5 class="card-title">Select Bands</h5>
                            <select id="bandsPicker" class="selectpicker" multiple data-max-options="8">
                                <option data-subtext="B01">Band 1 - Coastal aerosol</option>
                                <option data-subtext="B02">Band 2 - Blue</option>
                                <option data-subtext="B03">Band 3 - Green</option>
                                <option data-subtext="B04">Band 4 - Red</option>
                                <option data-subtext="B05">Band 5 - VRE</option>
                                <option data-subtext="B06">Band 6 - VRE</option>
                                <option data-subtext="B07">Band 7 - VRE</option>
                                <option data-subtext="B08">Band 8 - NIR</option>
                            </select>

                            <!-- Initialize Bootstrap Select and handle selection changes -->
                            <br>
                            <br>
                            <!--Submit button-->
                            <div>
                                <button id="submitBtn" class="green-btn" onclick="checkInputs()">Submit</button>
                            </div> <br>
                        </div>
                        <!-- Classification tab -->
                        <div class="tab-pane fade" id="classification">
                            <!-- Training model selection as dropdown -->
                            <div class="dropdown">
                                <h5 class="card-title">Select Trainingsmodel</h5>
                                <button class="dropdown-btn dropdown-toggle" type="button" id="trainingModelDropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose trainings model
                                </button>
                                <div class="dropdown-menu" aria-labelledby="trainingModelDropdown" id="trainingModelOptions">
                                    <!-- Options will be dynamically added here -->
                                </div>
                            </div>
                                <div class="dropdown-menu" aria-labelledby="trainingModelDropdown">
                                    <!--ToDO: customize and connect-->
                                    <a class="dropdown-item" href="#">Model 1</a>
                                    <a class="dropdown-item" href="#">Model 2</a>
                                    <a class="dropdown-item" href="#">Model 3</a>
                                </div>
                            </div> <br>
                            <!--Classifaction Buttons-->
                            <div>
                                <h5 class="card-title">Start Classification</h5>
                                <button class="green-btn" >Classify</button>
                            </div><br>
                            <div>
                                <h5 class="card-title">Download Classification</h5>
                                <button type="button" disabled>Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <footer>
                    <div class="d-flex flex-wrap justify-content-between align-items-center py-1 my-3 border-top">
                        <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Copernicus Code Crafters, Inc</p><a
                            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                            href="/"><svg class="bi me-2" width="40" height="32">
                                <use xlink:href="#bootstrap"></use>
                            </svg></a>
                        <ul class="nav col-md-4 justify-content-end">
                            <li class="nav-item"><a class="nav-link px-2 text-body-secondary active" area-current="page"
                                    href="/impressum">Impressum</a></li>
                        </ul>
                    </div>
                </footer>

            </div>