/* mobile devices : */
@media screen and (max-width: 600px) {
    #map {
        height: 100vh;
        width: 50%;

        border: 5px;
        margin: 0;
        padding: 50px;

    }

    #map2 {
        border: 2px solid #000000;
        height: 41vh;
    }

    #col-lg-6 {
        width: 100%;
    }
}

/*Tablets*/
@media screen and (min-width: 601px) {
    #map {

        height: 80vh;
        width: 100%;


        border: 5px;
        margin: 0;
        padding: 0;

    }

    #map2 {
        border: 2px solid #000000;
        height: 41vh;
    }

    #col-lg-6 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {

    #map {
        border: 3px solid #000000;
        height: 80vh;
    }

    #col-lg-6 {
        width: 50%;
    }



    #map2 {
        border: 3px solid #000000;
        height: 41vh;
    }

    #col-lg-6 {
        width: 50%;
    }

}



#map {
    border: 3px solid #000000;
    height: 80vh;
}

#col-lg-6 {
    width: 50%;
}

*,
:after,
:before {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html {
height: 100%;
}

body,
html,


body {
position: relative;
min-height: 100%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
margin: 0;
padding: 0;
background-color: #f1f1f1;
}

.link-button label {
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
width: 110%;
}

.leaflet-touch .link-button {
display: flex;
justify-content: center;
align-items: center;
width: 34px;
height: 34px;
background: #fff;
margin-bottom: 5px;
padding: 5px;
}

.link-button:hover {
background-color: #f4f4f4;
fill: #a200ff;
}

.link-button:hover:after {
position: absolute;
display: flex;
justify-content: end;
content: attr(title);
right: 40px;
width: auto;
white-space: nowrap;
background: #fff;
padding: 5px;
}



input[type="file"] {
font-size: 0;
}
::file-selector-button {
font-size: initial;
}




#map2 {
    border: 2px solid #ffffff;
    height: 70vh;
}

#col-lg-6 {
    width: 50%;
}

input:checked+.slider {
background-color: #ffffff;
}

input:focus+.slider {
box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}



